/* =========================
   Part 2: CSS Setup
   =========================
   1. Style your profile card (border, padding, etc).
   2. Create an ID selector (#highlighted) that changes:
      - text color
      - font size
      - background color
   Example (students must modify):
   #highlighted {
     color: blue;
     background-color: lightyellow;
     font-size: 20px;
   }
*/

/* Write your CSS here */
/* 1. */
.profile-card{
   border: 5px dotted orange;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 1rem;
   margin: 2rem;
}

/* 2. */
  #highlighted {
     color:black;
     background-color: orange;
     font-size:medium;
   }